body{

}

header h1{
    text-align: center;
    padding: 20px;
}

main{
    display: grid;
    grid-template-columns: 1000px 200px 200px;
    justify-content: center;
    gap:5px;
}

.eros{
    stroke-width: 2;
    stroke:black;
}

.halvany{
    stroke-width: 2;
    stroke:rgba(0, 0, 0, 0.3);
}


.fekete{
    stroke-width: 2;
    stroke:rgba(0, 0, 0, 0.8);
}

.borzas{
    fill:blue;
}

.foltos{
    fill: red;
}

.virginiai{
    fill: yellow;
}